<ion-view view-title="首页" hide-nav-bar="true">
    <ion-content class="padding">
        <div class="list card products-list">
            <div class="item item-avatar">
                <img src="img/avatar.jpeg">
                <h2>Pretty Hate Machine</h2>
                <p>Nine Inch Nails</p>
            </div>

            <div class="item item-image">
                <img src="img/cover.jpg">
            </div>

            <a class="item item-icon-left assertive" href="#">
                <button class="button button-small button-balanced"><i class="ion-plus"></i> 加入购物车</button>
                <button class="button button-small"><i class="ion-android-checkmark-circle"></i> 购买</button>
            </a>
        </div>
        <div class="list card">
            <div class="item item-divider">Health</div>
            <div class="item item-body">
                <div>
                    You ate an apple today!
                </div>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Upcoming</div>
            <div class="item item-body">
                <div>
                    You have <b>29</b> meetings on your calendar tomorrow.
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
